<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <h1 class="navbar-brand">RECEITAS DRINK</h1>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="listarDrink">Lista de Drinks</a>
        <a class="nav-link" routerLink="deletarDrink">Delete Drink</a>
        <a class="nav-link" routerLink="salvarDrink">Salvar Drink</a>
        <a class="nav-link" routerLink="detailDrink">Detalhe Drink</a>
      </div>
    </div>
  </div>
</nav>
<div class="container mt-5">
  <router-outlet></router-outlet>
</div>
