<nav class="navbar navbar-inverse">
    <a href="#" class="navbar-brand">Receitas de Drinks</a>
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a routerLink="listarDrink">Lista de Drinks</a></li>
      <li role="presentation"><a routerLink="deletarDrink">Delete Drink</a></li>
      <li role="presentation"><a routerLink="salvarDrink">Salver Drink</a></li>
    </ul>
</nav>

<div class="container mt-5">
  <router-outlet></router-outlet>
</div>

